html {
    height: 100%;
}
body {
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 160%;
    color: #555459;
    line-height: 1.5rem;
     background: linear-gradient(#00B2D6, #02DDD8);
}
#main {
    background: white;
    width:360px;
    height:600px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 15px 0 rgba(0,0,0,0.19);
}
#main h2 {
    padding-top: 30px;
}

.player-panel {
    position: absolute;
    bottom:0;
    background: cornflowerblue;
    width: 100%;
}
#game-score, #game-lives {
    float:left;
    position:relative;
    display: inline;
    padding-left: 5px;
}
#game-lives {
    padding-left: 10px;
}

.falling-letter {
    color: black;
    position: absolute;
    font-size: 20px
}

.game_btn {
    border-radius: 4px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#start_btn {
    margin-top: 20%;
    box-shadow: 1px 1px 7px #888888;
}
#start_btn:hover {
    background: #06a520;
    transition-duration: 0.3s;
}
#submit_score {
    margin-top: 20px;
}
#game-over {
    top: 20%;
    margin:auto;
}

#game-over, #highlights {
    display: none;
    position: relative;
}
#highlights {
    top: 10%;
}

#highlights ul {
    list-style-type: none;
}
#highlights h2, p {
    text-align: left;
    padding-left:40px;
}
#highlights ul li {
    text-align: left;
    display: block;
}
#highlights p {
    color: chocolate;
}

.player-input {

}
.player-input label, input {
    display: block;
    margin: auto;
}


/** Shake Effect **/
.hit {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/** Explosion CSS **/
.explosion {
    position: absolute;
    width: 60px;
    height: 60px;
    pointer-events: none;
}
.explosion .particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: pop 1s reverse forwards;
}

@keyframes pop {
    from {
        opacity: 0;
    }
    to {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
}


h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #CCC;
    font-family: "Helvetica", "Arial", sans-serif;
    user-select: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -moz-user-select: none;
    /* Firefox */
    cursor: default;
}

/** Loader **/
.loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:auto;
    position: relative;
    top: 25%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}